/*///////////////////////////////////////////////////////////////////////////////////////\

┏┓┏┓  ┳┳┓ ┏┳┓┳┳┳┓┏┓
┣ ┣   ┃┃┃  ┃ ┃┃┃┃┣┫
┻ ┻   ┗┛┗┛ ┻ ┻┛ ┗┛┗
                   
FF Ultima:         https://github.com/soulhotel/FF-ULTIMA
Wiki:              https://github.com/soulhotel/FF-ULTIMA/wiki
Latest Version:    https://github.com/soulhotel/FF-ULTIMA/releases/latest                 
License:           https://github.com/soulhotel/FF-ULTIMA/blob/main/LICENSE MPL 2.0

\////////////////////////////////////////////////////////////////////////////////////////*/

@import url(theme/ffu-global-positioning.css);
@import url(theme/ffu-internal-appearance.css);
@import url(theme/ffu-private-browsing.css);

@import url(theme/color-schemes/apply-cs.css); /*color schemes*/

@import url(theme/settings-context-menus.css);
@import url(theme/settings-extensions-panel.css);

@import url(theme/settings-urlbar.css);
@import url(theme/settings-navbar.css);
@import url(theme/settings-navbar-windowcontrols.css);

@import url(theme/settings-sidebar-sidebery.css);

@import url(theme/settings-TABS.css);

@import url(theme/ffu-special-configs.css);

/* these are defaults set by firefox source content-area.css Line 7-13
https://searchfox.org/mozilla-central/source/browser/themes/shared/tabbrowser/content-area.css#7-13 */

@media (-moz-content-prefers-color-scheme: light) {
    :root {--tabpanel-background-color: #f9f9fb !important;}
}
@media (-moz-content-prefers-color-scheme: dark) {
    :root {--tabpanel-background-color: #2b2a33 !important;}
}

/*
transparency
#tabbrowser-tabs[orient="vertical"][overflow]::after {
  content: none !important;
}
*/

/* ---------------------------------------------------------------------------------------------------------- */
/* 3.1 mockup foundation for color swapping add on colors */


#main-window[lwtheme] {
    --toolbox-textcolor-inactive: var(--toolbar-color) !important;
    --toolbox-textcolor:var(--toolbar-color) !important;
    --toolbarbutton-icon-fill:  var(--toolbar-color) !important;/*
    --toolbar-field-color: var(--lwt-text-color) !important;
    --toolbar-field-color: var(--toolbar-color) !important;*/
    --uc-accent-color-1: var(--tab-loading-fill) !important;
    --uc-accent-color-2: var(--lwt-text-color) !important;
    --arrowpanel-border-color: var(--toolbar-color) !important;
    --urlbar-box-hover-bgcolor: var(--button-background-color-ghost-hover) !important;

}

/* Sophie's edit */

.button-background {
  border: none !important;
}

#vertical-tabs .tab-background {
  border: none !important;
  box-shadow: none !important;
}

#vertical-tabs .tabbrowser-tab:hover .tab-background {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

#vertical-tabs .tabbrowser-tab[selected] .tab-background {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

#vertical-tabs .tab-close-button {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

#vertical-tabs .tab-close-button:hover,
#vertical-tabs .tab-close-button:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

@namespace url("http://www.w3.org/1999/xhtml");
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar toolbarbutton,
#nav-bar toolbarbutton > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1,
#nav-bar .toolbarbutton-badge-stack,
#PanelUI-button,
#downloads-button,
#fxa-avatar-image,
#identity-box,
#tracking-protection-icon-container,
#urlbar-go-button,
#star-button-box,
#unified-extensions-button,
#unified-extensions-button > image,
#unified-extensions-button > .toolbarbutton-icon {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

#nav-bar toolbarbutton:hover,
#nav-bar toolbarbutton:focus,
#PanelUI-button:hover,
#downloads-button:hover,
#fxa-avatar-image:hover,
#identity-box:hover,
#tracking-protection-icon-container:hover,
#urlbar-go-button:hover,
#star-button-box:hover,
#unified-extensions-button:hover,
#unified-extensions-button:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

#identity-box,
#identity-box:hover,
#identity-icon,
#identity-icon:hover,
#identity-box > image,
#identity-box > .identity-box-button {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
